* {
    margin: 0;
    padding: 0;
    border: 0
    }
    
    body {
        font-family: 'Roboto', sans-serif;
    }

    .logo{
        width: 4rem;
    }

    .negro{
        background-color: black;
    }

    #message{
        height: 10rem;
    }

    a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }